<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true" >
	

		<form-login 
			login-page=			"/publico/login.jsf"
			authentication-failure-url=	"/publico/login.jsf?login_error=1"
			username-parameter=			"j_username"
			password-parameter=			"j_password"
			login-processing-url="/j_spring_security_check" 
			authentication-failure-handler-ref="customFailureHandler"
			authentication-success-handler-ref="customAuthenticationSuccessHandler"
  			/>

		<logout logout-url="/logout" delete-cookies="workflow,WorkKey"  invalidate-session="true" success-handler-ref="customLogoutSuccessHandler"></logout>
		
		<access-denied-handler error-page="/publico/accessdenied.jsf"/>
		
 	    <remember-me token-validity-seconds="1209600"  remember-me-parameter="_spring_security_remember_me"  />

	</http>
	
	
	<beans:bean id="customLogoutSuccessHandler" class="br.com.flow.web.security.CustomLogoutSuccessHandler" />
	<beans:bean id="customAuthenticationSuccessHandler" class="br.com.flow.web.security.CustomAuthenticationSuccessHandler" />

	<beans:bean id="customFailureHandler" 		class="br.com.flow.web.security.MySimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/publico/login.jsf?login_error=1" />
	</beans:bean>


	<authentication-manager>
		<authentication-provider ref="authProvider" />
	</authentication-manager>

	<beans:bean id="authProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
	</beans:bean>

	<beans:bean id="userDetailsService" class="br.com.flow.web.security.CustomAutentication" />

	<!-- Password Hashing Bean -->
	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="12" />
	</beans:bean>

</beans:beans>
